<!doctype html>
<html ng-app="myApp">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>the smart foxies</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/style.css" />
    

    <script src="js/foundation/vendor/modernizr.js"></script>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/services.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
</head>

<body>
    <div class="off-canvas-wrap"> 
        <div class="inner-wrap"> 

            <nav class="tab-bar"> 
                <section class="left-small"> 
                    <a class="left-off-canvas-toggle menu-icon" ><span></span></a> 
                </section> 
                <section class="middle tab-bar-section"> 
                    <h1 class="title">the smart foxies</h1> 
                </section> 
                <section class="right-small"> 
                    <a class="right-off-canvas-toggle menu-icon" ><span></span></a> 
                </section> 
            </nav> 

            <aside class="left-off-canvas-menu"> 
                <ul class="off-canvas-list"> 
                    <li><label>menu</label></li> 
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Connect</a></li>
                    <li>
                        <div id="logout" style="display: none;">
                            <button id="disconnect">Logout</button>
                        </div>
                    </li>
                    <li><a href="#">Say What</a></li>
                    <li><a href="#">About the foxies</a></li>
                </ul> 
            </aside> 

            <aside class="right-off-canvas-menu"> 
                <ul class="off-canvas-list"> 
                    <li><label>messages</label></li> 
                    <li><a class="new" href="#">Azadeh</a></li>
                    <li><a href="#">Penny</a></li>
                </ul> 
            </aside> 


            <section class="main-section">
                <div class="screen-home">
                    <!-- Foxy image -->
                </div>
                <div class="screen-connect">
                    <div google-connect=""></div>
                </div>
                <div class="screen-search">
                    <div ng-controller="SearchCtrl">
                        <div ng-repeat="book in books.items">
                            <h3 class="">{{book.volumeInfo.title}}</h3>
                            <p class="">{{book.volumeInfo.description}}</p>
                            <p>
                                <img ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" />
                            </p>
                            <ul class="">
                                <li ng-repeat="author in book.volumeInfo.authors">
                                    <span>{{author}}</span>
                                </li>
                            </ul>
                        </div>
                        <form ng-submit="search()">
                            <input type="text" ng-model="keyword" size="30" placeholder="Search for a book">
                            <select ng-model="term" ng-options="obj.value as obj.text for obj in terms"></select>
                            <input class="" type="submit" value="search">
                        </form>
                    </div>
                </div>
                <div class="screen-what">
                    <h1>Say what?</h1>
                    <p>Travelling on public transport can be so dull, right? You starr out of the window and suddenly someone walks by with an awesome book in their hands. You wanna know what it is! NOW!</p>
                    <p>Go to the smart foxies search and search for the book if you could catch the name. If not, doesn't matter: Sign up to the smart foxies and see books that get read around you. RIGHT NOW! Oh, right, there it is. It's the latest Stephen King and it's Sam, who's reading it! Wonder if it's awesome?</p>
                    <p>Ask Sam, we got a messaging service between members. The best thing: IT'S ALL FOR FREE!</p>
                </div>


			    <div ng-controller="GoogleUserProfileCtrl">
			
			        <button type="button" ng-click="test()">test</button>
			        <div ng-repeat="bookshelve in bookshelves.items">
			
			
			            <h3 class="">{{bookshelve.title}}</h3>
			            <p class="">{{bookshelve.volumeCount}}</p>           
			                <div ng-repeat="volume in bookshelve.volumes">
			
			                    <h3 class="">{{bookshelve.title}}</h3>
			                    <img ng-src="{{bookshelve.imageLinks.thumbnail}}"/>
			                    <p class="">{{bookshelve.description}}</p>           
			
			                </div>
			        </div>
			
			    </div>

			</div>



            </section> 

            <a class="exit-off-canvas"></a> 
        </div> 
    </div>

















   
    <div id="content"></div>
    

    <script src="js/foundation/vendor/foundation.min.js"></script>
    <script src="js/foundation/app.js"></script>

</body>

</html>
