<!doctype html>
<html ng-app="myApp">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>the smart foxies</title>

    <link href='http://fonts.googleapis.com/css?family=Courgette|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/style.css" />
    

    <script src="js/foundation/vendor/modernizr.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    
    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/services.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    
    <script src="https://rawgithub.com/arunisrael/angularjs-geolocation/master/dist/angularjs-geolocation.min.js"></script>
    
</head>

<body>
    <div class="off-canvas-wrap"> 
        <div class="inner-wrap"> 

            <nav class="tab-bar"> 
                <section class="left-small"> 
                    <a class="left-off-canvas-toggle menu-icon" ><span></span></a> 
                </section> 
                <section class="middle tab-bar-section"> 
                    <h1 class="title"></h1> 
                </section> 
                <section class="right-small"> 
                    <a class="right-off-canvas-toggle menu-icon" ><span></span></a> 
                </section> 
            </nav> 

            <aside class="left-off-canvas-menu"> 
                <ul class="off-canvas-list"> 
                    <li><label>menu</label></li> 
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Connect</a></li>
                    <li>
                        <div id="logout" style="display: none;">
                            <button id="disconnect">Logout</button>
                        </div>
                    </li>
                    <li><a href="#">Say What</a></li>
                    <li><a href="#">About the foxies</a></li>
                </ul> 
            </aside> 

            <aside class="right-off-canvas-menu"> 
                <ul class="off-canvas-list"> 
                    <li><label>messages</label></li> 
                    <li><a class="new" href="#">Azadeh</a></li>
                    <li><a href="#">Penny</a></li>
                    <li><a href="#">Mary</a></li>
                    <li><a href="#">James</a></li>
                </ul> 
            </aside> 


            <section class="main-section">

                <!-- START: HOME NOT LOGGED IN -->
                <div class="screen-home">
                    <img src="img/logo-foxies.gif">
                    <h2>the smart foxies</h2>
                </div>
                <div class="screen-connect">
                    <div google-connect=""></div>
                </div>
                

                <div class="screen-search">                    
                    <div ng-controller="SearchCtrl">
                        <ul class="list list-search-results">
                            <li ng-repeat="book in books.items">
                                <a href="">
                                    <h4 class="">{{book.volumeInfo.title}}</h4>
                                    <small ng-repeat="author in book.volumeInfo.authors">
                                        <span>{{author}}</span>
                                    </small>
                                    <img ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" />                                   
                                    
                                </a>
                                <ul class="list">
                                    <li><button ng-show=showActionButtonNow ng-click="AddtoBookShelf(0,book)">Add to Favorites</button></li>
                                    <li><button ng-show=showActionButtonNow ng-click="AddtoBookShelf(2,book)">Add it to Read list</button></li>
                                    <li><button ng-show=showActionButtonNow ng-click="AddtoBookShelf(3,book)">Mark it as Reading it now</button></li>
                                    <li><button ng-show=showActionButtonNow ng-click="AddtoBookShelf(4,book)">Mark it as you have read it</button></li>
                                </ul>
                                    
                                    
                                    
                                    
                            </li>
                        </ul>
                        <form ng-submit="search()">
                            <h3>Start with searching for a book?</h3>
                            <input class="input-search" type="text" ng-model="keyword" placeholder="e.g. The Bookthief">
                            <input class="button button-search" type="submit" value="go">
                        </form>
                    </div>
                </div>
                <div class="screen-what">
                    <h1>Say what?</h1>
                    <p>Travelling on public transport can be so dull, right? You stare out of the window and suddenly someone walks by with an awesome book in their hands. You wanna know what it is! NOW!</p>
                    <p>Go to the smart foxies search and search for the book if you could catch the name. If not, doesn't matter: Sign up to the smart foxies and see books that get read around you. RIGHT NOW! Oh, right, there it is. It's the latest Stephen King and it's Sam, who's reading it! Wonder if it's awesome?</p>
                    <p>Ask Sam, we got a messaging service between members. The best thing: IT'S ALL FOR FREE!</p>
                </div>
                <!-- <div class="screen-what screen-about">
                    <h1>Say who?</h1>
                    <ul class="list list-us">  
                       <li>
                            <div class="figure">
                                <img src="img/Aza.jpg">
                            </div>
                            <article>
                                <h3><span>Azadeh</span>, 32</h3>
                                <p>I’m from Iran. I have B.S. Degree in software engineering and I started programming when I was at high school. I started programming as a carrier with C++.  I switched to VB6 in less than a year and then C#! I worked on variety of web/windows projects from working directly with hardware interfaces and send commands to load cell, encoders and dialogic boards to yummy, good looking websites like KFC australia .</p>
                            </article>
                        </li>
                    </ul>
                </div> -->
                <!-- END: HOME NOT LOGGED IN -->


                <!-- START: HOME LOGGED IN -->
                <div class="screen-bookoftheday">
                    <header>
                        <h3 class="">Book of the day</h3> 
                        <p>3 people around you are currently reading</p>
                    </header> 
                    <article>
                        
                        <div class="book">
                            <a href="">
                                <h4 class="">Einmal Sydney und zurueck</h4>
                                <small>
                                    <span>Katrin Schmidt</span>
                                </small>
                                <img src="img/bookoftheday.jpg" width="200"/>
                            </a>
                        </div>
                    </article>
                </div>
                <div class="screen-around">
                    <div ng-controller="AroundMe">
                        <header>
                            <h3 class="">Smart foxies around me</h3> 
                        </header>  
                        <ul class="list list-people">  
                           <li ng-repeat="person in people">
                                <a href="#screen-mybooks">
                                    <div class="person">
                                        <img ng-src="{{person.image}}">
                                    </div>
                                    <div class="book">
                                        <img ng-src="{{person.volumeInfo.imageLinks.smallThumbnail}}">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END: HOME LOGGED IN -->

                <!-- START: PROFILE -->

                <div class="screen-mybooks">
                    <div ng-controller="GoogleUserProfileCtrl">

                        <div class="profile" ng-show="showNow">

                            <header>
                                <h3 class="">My profile</h3>
                            </header>
                            <div class="figure">
                                <img ng-src="{{profile.image}}">
                                
                                
                            </div>
                            <article>
                                <h3><span>{{profile.displayName}}</span></h3>
                                <p>{{profile.circledByCount}} have you in circles</p>
                                <p>{{profile.aboutMe}}</p>
                               <p>{{profile.tagline}}</p>
                            </article>
                            <div class="button-container">
                                <a href="{{profile.url}}" class="button" style="margin-top: 15px">Edit profile on google +</a>
                                
                            </div>
                        </div>

                        <div ng-repeat="bookshelve in bookshelves.items">
                            <div ng-if="bookshelve.title == 'Reading now' && bookshelve.volumeCount > 0" style="clear: both">
                                <header>
                                    <h3 class="">{{bookshelve.title}}</h3> 
                                    <span>{{bookshelve.volumeCount}} in total</span>
                                </header>
                                <ul class="list">       
                                    <li ng-repeat="volume in bookshelve.volumes.items">
                                        <a href="">
                                        <h4 class="">{{volume.volumeInfo.title}}</h4>
                                        <small ng-repeat="author in volume.volumeInfo.authors">
                                            <span>{{author}}</span>
                                        </small>
                                        <img ng-src="{{volume.volumeInfo.imageLinks.thumbnail}}" />
                                    </a>
                                    </li>
                                </ul>
                            </div>                  
                        </div>

                        
                        <div ng-repeat="bookshelve in bookshelves.items">
                            <div ng-if="bookshelve.title != 'Reading now' && bookshelve.volumeCount > 0" style="clear: both">    
                                <header>
                                    <h3 class="">{{bookshelve.title}}</h3> 
                                    <span>{{bookshelve.volumeCount}} in total</span>
                                </header>  
                                <ul class="list">      
                                    <li ng-repeat="volume in bookshelve.volumes.items">
                                        <a href="">
                                        <h4 class="">{{volume.volumeInfo.title}}</h4>
                                        <small ng-repeat="author in volume.volumeInfo.authors">
                                            <span>{{author}}</span>
                                        </small>
                                        <img ng-src="{{volume.volumeInfo.imageLinks.thumbnail}}" />
                                    </a>
                                    </li>
                                <ul>
                            </div>  
                        </div>
                    </div>
                </div>
                <!-- END: PROFILE -->

			</div>

            </section> 

            <a class="exit-off-canvas"></a> 
        </div> 
    </div>






   
    <div id="content"></div>
    

    <script src="js/foundation/vendor/foundation.min.js"></script>
    <script src="js/foundation/app.js"></script>


<div ng-controller="mainCtrl">
      
    </div>


</body>

</html>
