
body{
	@include open-sans();
	font-size: 18px;
}

figure{
	margin: 0; 
}

button,
.button{
	background-color: $foxorange;
	margin:0;

	&:hover,
	&:focus{
		background-color: $foxgreen;
	}

	&.button-search{
		padding: 8px 0;
	}
}

.button-container{
	@include grid-column(12);
	text-align: center;
}

.tab-bar .menu-icon{
	&.right-off-canvas-toggle{
		background: url(../img/envelope.png) no-repeat 7px 10px;
		span{
			display: none;
		}
	}
}

h1{
	@include foxies();
	font-weight: normal;
	background: url(../img/line.gif) no-repeat center bottom;
	margin: 0 0 20px 0;
}

h2{
	@include foxies();
	font-weight: normal;
	color: $white; 
}

h3{
	@include foxies();
	font-weight: normal;
	font-size: 20px; 
}

section{
	&.main-section{
		@include grid-row();
	}
}

ul.list{
	margin: 0;
	padding: 0; 
	@include grid-row();
	
	li{
			@include grid-column(6);
			list-style-type: none;
			height: 280px;

			a{
				color: $standard;

				h4{
					margin: 0;
					font-size: 16px;
					@include truncate();
				}
				small{
					font-size: 16px;
				}
				img{
					margin: 10px 0;
				}
				article{
					
				}
			}
		}

	&.list-people{
		li{
			height: auto;
			padding-top: 10px;
			padding-bottom: 10px;
			.person,
			.book{
				width:50%;
				float: left;
				height: 94px;
				overflow: hidden;

				img{ 
					margin: 0; 
				}
			}
		}
		
	}	

	&.list-us{
		li{
			@include grid-column(12);
			list-style-type: none;
			height: auto;
		}
	}

}

ul.off-canvas-list{
	li {
		label{

		}
		a{
			text-transform: uppercase;
			font-size: 22px;
		}
	}	
} 

.screen-home{
	@include grid-column(12);
	background: $foxgreen;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.screen-connect{
	@include grid-column(12);
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.screen-search{
	@include grid-column(12);
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px dashed $foxgreen;
	border-bottom: 1px dashed $foxgreen;


	form{
		@include grid-row();

		.input-search{
			@include grid-column(8);
		}
		.button-search{
			@include grid-column(4);
		}
	}
}

.screen-what{
	@include grid-column(12);
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.screen-mybooks{
	@include grid-row();

	header{
		background: $foxgreen;
		display: inline-block;
		width: 100%;
		color: $white;
		padding: 10px 0;
		margin-bottom: 20px; 

		h3{
			@include grid-column(8);
			margin: 0;
			color: $white;
			@include open-sans();
			font-weight: 700;
		}
		span{
			@include grid-column(4);
			@include open-sans();
			padding-top:5px;
			text-align: right;
		}
	}

	.profile{
		display: inline-block;
		width: 100%; 
		padding: 20px 0;

		header{
			
		}

		.figure{
			@include grid-column(5);
		}
		article{
			@include grid-column(7);
			h3{
				@include open-sans();
				span{
					font-weight: 700;
				}
			}
		}
	}
}

.screen-around,
.screen-bookoftheday{
	header{
		background: $foxgreen;
		display: inline-block;
		width: 100%;
		color: $white;
		padding: 10px 0;
		margin-bottom: 20px; 

		h3{
			@include grid-column(12);
			margin: 0;
			color: $white;
			@include open-sans();
			font-weight: 700;
		}
		p{
			@include grid-column(12);
			margin:0;
		}
	}
}

.screen-bookoftheday{
	article{
			@include grid-column(12);
			text-align: center;
			margin-bottom: 20px;

			a{
				color: $standard;

				h4{
					margin: 0;
					font-size: 16px;
				}
				small{
					font-size: 16px;
					display: block;
				}
				img{
					margin: 10px 0;
					clear: both;
				}
				article{
					
				}
			}
	}

}

.screen-about{

	.figure{
		@include grid-column(5);
	}
	article{
		@include grid-column(7);
	}
}
